<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading editable">
                    Let Explore Deep Into the Mind!
                </h2>
                <hr class="light" />
                <p class="text-faded editable">
                    Are you ready to explore the depths of the mind? Join me on a journy to discover the secrets of the subconscious mind and how we can reprogram it to serve our greatest good! There is no one right way to access this potential. I will share my experience on my journey to find out what works for me? My hope is that this will give you resources to explore and find out what works for you.
                </p>
                <a href="#" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
