<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 class="editable">
                transform your life by transforming your subconscious
            </h1>
            <hr />
            <p class="editable">
                Join me in exploring deep into the mind. Tapping into the subconscious there is potential to transform your life ways that are truly miraculous. There is no one right way to access this potential. I will share my experience on my journey to find out what works for me? My hope is that this will give you resources to explore and find out what works for you.
            </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll editable">Find Out More</a>
        </div>
    </div>
</header>
