<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 class="editable">
                transform your life by transforming your subconscious
            </h1>
            <hr />
            <p class="editable">
                Join me in exploring deep into the mind. Tapping into the subconscious there is potential to transform your life in ways that are truly miraculous.
            </p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll editable">Find Out More</a>
        </div>
    </div>
</header>
